/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 27, 2023, 3:00:43 PM
    Author     : thanh
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Press+Start+2P&family=Teko:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe{
    width: 100%;

}

.form-control{
    border-radius: 20px;

}




header{
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
}

main{
    margin-top: 20px;
}


#introduce-content {
    margin-top: 100px;

}



.navbar-brand img {
    width: 50px;
}

header a {
    color: rgb(29, 21, 21);
    text-decoration: none;
}

#product-item a{
    color: rgb(20, 17, 17);
    text-decoration: none;
}


.nav-link:hover,
a:hover {
    color: #74b9ff;
}


#follow img {
    width: 50px;
    padding: 10px;
    transition: all 0.6s ease-in-out;
}


#follow img:hover {
    border: 2px solid rgb(233, 221, 221);
    ;
    border-radius: 50%;
}


#bangtruyen {
    background: #16171b;
    color: #000000;
    font-family: 'Bungee Shade', sans-serif;
}
.container-footer{
    margin-top: -160px;
}

@keyframes slide-in {
    100% {
        transform: translateX(-100%);
    }


    0% {
        transform: translateX(50%);
    }
}

.text-carousel {
    overflow: hidden;
    white-space: nowrap;
}


.text-carousel span {
    display: inline-block;
    padding-right: 0em;
    animation: slide-in 30s infinite;
}


#contact-form {
    color: #74b9ff;
    width: 400px;
    margin-left: 400px;
}

#lh-2 {
    line-height: 60px;
}


#lh-1 {
    padding-top: 10px;
}


#img-contact {
    background: url('https://wallpaperaccess.com/full/25562.jpg');

}



#product-item {
    font-family: 'Teko', sans-serif;
}

.checkValue.success input {
    border: 1px solid #09c372;
}


.checkValue.error input {
    border: 1px solid #ff3838;
}

.checkValue .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

main{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #1f2122;
    font-family: 'monserrat',sans-serif;
    min-height: 100%;
    margin:10%;
}

main .container{
    position: relative;
    width: 980px;
    max-width: 100%;
    min-height: 480px;
    background: #3f3c3c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
    padding-bottom: 200px;
}
main .sign-up,.sign-in{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
main .sign-up h1, .sign-in h1{
    color: #ec1236;
}
main .sign-up{
    width: 50%;
    opacity: 0;
    z-index: 1;
}
main .sign-in{
    width: 50%;
    z-index: 2;
}
main form{
    background: #f1d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
main h1{
    font-weight: bold;
    margin: 0;
    font-size: 25px;
}
main p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px;
}
main input{
    background: #eee;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}
main a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
main button{
    color: #fff;
    background: #fd1717;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #fd1717;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}
main button:active{
    transform: scale(0.90);
}
#signIn,#signUp{
    background-color: transparent;
    border: 2px solid #fff;
}
main  .container.right-panel-active .sign-in{
    transform: translateX(100%);
}
main  .container.right-panel-active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5
}
main .overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
main  .container.right-panel-active .overlay-container{
    transform: translate(-100%);
}
main .overlay{
    position: relative;
    color: #fff;
    background: #ff416c;
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right, #ff4b28, #ff228c);
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
main  .container.right-panel-active .overlay{
    transform: translate(50%);
}
main .overlay-left, .overlay-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
main .overlay-left{
    padding-right: 25%;
    transform: translateX(0%);
}
main .overlay-right{
    right: 0;
    transform: translateX(0);
}
main  .container.right-panel-active .overlay-left{
    transform: translateX(0);
}
main  .container.right-panel-active .overlay-left{
    transform: translateX(20%);
}
/*main .social-container{
    margin: 0;
}*/
main .social-container a{
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8a99db;
    border-radius: 50%;
}
/*Form Login*/









/*=========================================================*/


@media screen and (max-width: 800px) {
    #hideX {
        display: block !important;
    }

    #hideY {
        display: none !important;
    }

    #contact-form {
        color: #74b9ff;
        width: 400px;
        margin-left: 0px;
    }
    #contact-form .checkValue{
        width: 300px;
    }
}
