/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 27, 2023, 3:01:31 PM
    Author     : thanh
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left-col{
    background-color: transparent;
    width: 60%;
    height: 400px;
    text-align: center;
    color: white;
    background: url(../Images/login.webp) no-repeat;
    background-position: center;
    background-size: cover;
}

.right-col{
    background-color: transparent;
    width: 40%;
    height: 400px;
    text-align: center;
    line-height: 25px;
    padding-top: 50px;
    color: white;
    background: url(../Images/login.webp) no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box .input-box{
    position: relative;
    margin:30px 30px;
}

.form-box .input-box input{
    padding-right: 28px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -10px;
}

.form-box .input-box label{
    position: absolute;
    top: 10px;
    left: 1px;

    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s ease ;
}

.remember-password{
    text-align: start;
    padding-left:30px;
    margin-top: 10px;
}

.submit-login button{
    background-color: rgb(212, 82, 154);
    padding: 10px 100px;
    color: white;
    border: 0px;
}

body{
    background: url(../Images/login.webp) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.main{
    margin-top: 100px;

}
